/.gradle
/build

# Ignore Gradle GUI config
gradle-app.setting

#ignore encryption keys
id_rsa*

#ignore groovyConsole logs when testing Jervis functions
/src/main/*.log

#ignore automatically copied libs
/lib
/bin/

/.vscode/settings.json

/.vagrant

*.swp
*.hprof

#ignore test scripts
/*.groovy

*.pem
